.formulario{
    background-image:"https://firebasestorage.googleapis.com/v0/b/musicosdani.appspot.com/o/images.jpg?alt=media&token=80547323-23da-465c-a2e9-3785125c8dc2";
    margin: 5%;
    width: 90%;
    background-color: rgb(245, 239, 239);

}